@use '@/shared/styles/mixins';

.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 26px;
}

.listView {
  grid-template-columns: 1fr;
}

.empty {
  display: grid;
  min-height: 470px;
  align-content: center;
  justify-items: center;
  text-align: center;

  h2 {
    margin: 0;

    @include mixins.serif-heading;
  }

  p {
    color: var(--muted);
  }
}

@media (width <= 980px) {
  .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .listView {
    grid-template-columns: 1fr;
  }
}

@media (width <= 720px) {
  .list {
    grid-template-columns: 1fr;
  }
}
