.highlight {
  padding: 2px 3px;
  border-radius: 5px;
  box-decoration-break: clone;
  color: inherit;
  -webkit-box-decoration-break: clone;
}

.a1 {
  background: var(--level-a1);
}

.a2 {
  background: var(--level-a2);
}

.b1 {
  background: var(--level-b1);
}

.b2 {
  background: var(--level-b2);
}

.c1 {
  background: var(--level-c1);
}
