@use '@/shared/styles/mixins';

.header {
  padding-right: 42px;
}

.title {
  margin: 0;
  color: var(--moss-dark);
  font-size: 36px;

  @include mixins.serif-heading;
}

.tags {
  margin-top: 20px;
}
